@page
@model LogoutModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-page="/Account/Logout" method="post">
                <div class="d-flex justify-content-center align-items-center flex-column mt-3">
                        <p>Ar tikrai norite atsijungti?</p>
                        <button type="submit" class="nav-link btn btn-danger text-white">Atsijungti</button>
                    </div>
            </form>
        }
        else
        {
            <p>Sėkmingai atsijungėte!</p>
        }
    }
</header>
